.galleryContainer {
  margin: 20px;
  padding: 20px 40px;
  display: inline-block;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.beerImage {
  height: 450px;
}

.App {
  text-align: center;
}

#beerSearch {
  width: 360px;
  padding: 10px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}